h1 {
  border: 3px #eee solid;
  color: whitesmoke;
  text-align: center;
  padding: 10px;
}

h2 {
  border: 1px #eee solid;
  color: whitesmoke;
  padding: 15px;
}

body {
  background-color: rgb(24, 26, 27);
  color: whitesmoke;
}

.center {
  margin: auto;
  width: 50%;
  border: 2px solid whitesmoke;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.label {
  margin-top: auto;
  margin-bottom: auto;
}

.input {
  margin: auto;
  width: 300px;
}

.flashes {
  margin: auto;
  width: 50%;
  border: 2px solid red;
  padding: 5px;
  display: flex;
  justify-content: center;
}
